MONGODB_URI=mongodb+srv://adinathhanumantgore_db_u:YOUR_PASSWORD_HERE@cluster0.mongodb.net/attendance?retryWrites=true&w=majority
JWT_SECRET=3e8ad4f9c27b1f_YOUR_SECRET_HERE
FACE_RECOGNITION_API=http://localhost:5000
PORT=3000
NODE_ENV=development
